@{
    ViewData["Title"] = "Servidores Disponíveis / Ocupados";
}


<div id="divServidores" class="row">

</div>

@section Scripts{
    <script>
        var servidores = [];
        (function () {
            var webSocketProtocol = location.protocol == "https:" ? "wss:" : "ws:";
            var webSocketURI = webSocketProtocol + "//" + location.host + "/ws";

            socket = new WebSocket(webSocketURI);

            socket.onopen = function () {
                console.log("Connected.");
                socket.send("");
            };

            socket.onclose = function (event) {
                if (event.wasClean) {
                    console.log('Disconnected.');
                } else {
                    console.log('Connection lost.'); // for example if server processes is killed
                }
                console.log('Code: ' + event.code + '. Reason: ' + event.reason);
            };

            socket.onmessage = function (event) {
                if (event.data) {
                    servidores = JSON.parse(event.data);
                    renderServidores(servidores)
                }
            };

            socket.onerror = function (error) {
                console.log("Error: " + error.message);
            };

        })();

        function renderServidores(servidores) {
            var divServidores = document.getElementById('divServidores');
            var html = "";
            for (var i = 0; i < servidores.length; i++) {
                var servidor = servidores[i];
                var className = "success";
                if (servidor.Conectado) {
                    className = "danger";
                }
                var quemHtml = "<br/><br/>";
                if (servidor.QuemEstaConectado) {
                    quemHtml = `<br/>Quem: ${servidor.QuemEstaConectado}`;
                    quemHtml += `<br/>Quando: ${servidor.QuandoConectou}`;
                }
                html += `<div class="col-lg-2 col-md-3 col-sm-2 p-1"><div class="m-0 alert alert-${className}"><span class="btn btn-${className}">${servidor.Conectado ? "Servidor Ocupado" : "Disponivel"}</span><p>Servidor: ${servidor.Nome} ${quemHtml}<br/><input type="text" class="form-control" placeholder="Se identifique" id="hash${servidor.Hash}"/><button class="btn btn-sm btn-block btn-primary" hash="${servidor.Hash}" onclick="changeStatusServidor(this)">Salvar</button><p></div></div>`;
            }
            divServidores.innerHTML = html;
        }

        function changeStatusServidor(button) {
            var obj = {
                Hash: button.getAttribute("hash"),
                Nome: document.getElementById("hash"+button.getAttribute("hash")).value,
            }
            socket.send(JSON.stringify(obj));
        }
    </script>
}